* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Ensure the app container takes up the full viewport height */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(187, 176, 240);
}

/* Ensure the Body component takes up remaining space and allows scrolling */
.body-container {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  padding-top: 80px; /* Account for fixed Navbar */
}